
<div class="section">
  <div class="row">
    <div class="twelve columns">
      <p>
        {% if page.bookingType == 'tel' %}
        <a class="button button-primary" href="tel:{{page.tel}}" onclick="gtag('event', 'Book_tel', {'event_category': 'Book','event_label': '{{page.categories}}:{{page.title}}:{{page.city}}'});"><span>Boka</span></a>
        {% else if page.bookingType == 'link'%}
        <a class="button button-primary" href="{{page.bookingLink}}" onclick="trackOutboundLink('Book_link','{{page.categories}}:{{page.title}}:{{page.city}}','{{page.bookingLink}}')"><span>Boka</span></a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
