
<div class="section" style="padding-top:0px">
  <div class="row">
    <div class="twelve columns">
      <p>
        {% if page.bookingType == 'tel' %}
        <a class="button button-primary" href="tel:{{page.tel}}" onclick="gtag('event', 'Book_tel', {'event_category': 'Book','event_label': '{{page.categories}}:{{page.title}}:{{page.city}}:offer_{{include.offerIndex}}','value':{{include.offer.price}} });"><span>Boka {{include.offer.name}}</span></a>
        {% else if page.bookingType == 'link' %}
        <a class="button button-primary" href="{{page.bookingLink}}" onclick="trackOutboundLink('Book_link','{{page.categories}}:{{page.title}}:{{page.city}}:offer_{{include.offerIndex}}','value':{{include.offer.price}},'{{page.bookingLink}}')"><span>Boka {{include.offer.name}}</span></a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
