---
layout: default
---
<script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(action, label,value, url) {
  gtag('event', action, {
    'event_category': 'Book',
    'event_label': label,
    'value':value,
    'transport_type': 'beacon',
    'event_callback': function(){document.location = url;}
  });
}
</script>
<article class="post" itemscope itemtype="http://schema.org/EventVenue">

  <header class="post-header">
    <h4><a href="/{{ page.categories }}">{{ page.city | escape }}</a></h4>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
  </header>
  {% if page.image %}
    <img style="max-width:90%;padding:5%;margin-bottom:50px" src="/images/{{ page.image | escape }}"><img>
  {% endif %}
  <div class="post-content">
    {{page.description | markdownify}}
    {% for offer in page.offers %}
    <br>
    <h2>{{offer.name}} </h2>
    {{offer.description | markdownify}}

    {%if offer.price %}
    <h3>Pris: {{offer.price}}kr</h3>
    {% endif %}
    {% include CTA.html offer=offer offerIndex=forloop.index %}
    {% endfor %}

    {{ content }}
  </div>
  <p>
  Adress: {{page.address}}, {{page.city}}
  <br>  <br>
  Läs mer på: <a href="{{page.originalUrl}}">{{page.originalUrl}}</a>
  <br>  <br>
  {% if page.sourcePage %}
  Källa: <a href="{{page.sourcePage}}">{{page.sourcePage}}</a>
  {% endif %}
  </p>
</article>
