---
layout: default
---
<script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(action, label,value, url) {
  gtag('event', action, {
    'event_category': 'Book',
    'event_label': label,
    'value':value,
    'transport_type': 'beacon',
    'event_callback': function(){document.location = url;}
  });
}
</script>
<article class="post" itemscope itemtype="http://schema.org/EventVenue">

  <header class="post-header">
    <h4><a href="/{{ page.categories }}">Barnkalas {{ page.city | escape }}</a></h4>
    <h1 class="post-title" itemprop="name">{{ page.title | escape }}</h1>
    <p class="post-meta">
  </header>
  {% if page.image %}
    <img itemprop="logo" style="max-width:90%;padding:5%;margin-bottom:50px" src="/images/{{ page.image | escape }}"><img>
  {% endif %}
  <div class="post-content">
    <span itemprop="description">{{page.description | markdownify}}</span>
    {% for offer in page.offers %}
    <br>
    <span itemscope itemtype="http://schema.org/Offer">
      <span itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
        <h2 itemprop="name">{{offer.name}} </h2>
        <span itemprop="description">{{offer.description | markdownify}}</span>
      </span>
      {%if offer.price %}
      <h3>Pris: <span itemprop="price">{{offer.price}} </span>kr</h3>
      {% endif %}
      {% include CTA.html offer=offer offerIndex=forloop.index %}
    </span>
      {% endfor %}

      {{ content }}
  </div>
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  Adress:
  <a href="https://www.google.com/maps/search/?api=1&query={{page.address | url_encode}}%2C+{{page.city | url_encode}}">
    <span itemprop="streetAddress">{{page.address}}</span>
    ,   <span itemprop="addressLocality">{{page.city}}</span>
  </a>
  </p>
  <p>
  Läs mer på: <a href="{{page.originalUrl}}">{{page.originalUrl}}</a>
  <br>  <br>
  {% if page.sourcePage %}
  Källa: <a href="{{page.sourcePage}}">{{page.sourcePage}}</a>
  {% endif %}
  </p>
  {%if page.related | first%}
  <h4>Andra ställen för barnkalas i {{page.city}}:</h4>
  <ul class="post-list">
    {% for post in site.posts %}
    {%if page.related contains post.title %}
      <li>
        <h2>
          {% if post.image %}
            <a class="post-link" href="{{ post.url | relative_url }}">
              <img style="max-width:90%;padding:5%;margin-bottom:10px" src="/images/{{ post.image | escape }}"><img>
            </a>
          {% endif %}
          <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}</a>
        </h2>
        <div>{{ post.short_description }}</div>
      </li>
      <hr>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  <h4>
    <a href="/{{ page.categories }}">Se fler ställen i {{page.city}} där du kan ha ditt barnkalas</a>
  </h4>

</article>
